h1{
	font-family: mincho; 
	color: black;
}

h2{
	font-family: mincho; 
	color: black;
}

.my-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #c6ccb2;
}


.links {
  display: flex;
  justify-content: flex-end;
  background: #c6ccb2;
  justify-content: space-between;
}

.link {
  margin: 10px 30px;
  color: black;
}


.red{color: green;}

.frame{
	border: 5px solid black;
	margin: 75px;
	padding: 5px;
	box-shadow: 5px 10px 10px black;}

div{
	background: #c6ccb2;
}

h3{
	text-align: center;
}

.frame2{
	border: 5px solid black;
	margin: 20px 500px 20px 500px; 
	padding: 10px 170px 10px 175px;
	border-radius: 10px;
	box-shadow: 5px 5px 10px black;
	text-align: center;
	justify-content: space-around;
}

.frame3{
	border: 2px solid black;
	border-radius: 10px;
}

.modal-body{
	border: 3px solid black;
	background: #3B6034;}

body{
	background-color: #314f30;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%23405f39' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%234d7346' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%23405f39' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%234d7346' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%235b8752' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%233b4227' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%2347502f' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23545e37' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%2347502f' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%233b4227' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23545e37' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%233b4227' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23545e37' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%2347502f' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23545e37' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");
	text-align: center;
}



ol{text-align: left;}

.span-bold{font-weight: bold;}

a{font font-family: mincho;
font-size: 18px;}

.line-transparent {
  background: black;
  width: 100%;
  display: flex;
}

.line-light {
  height: 5px;
  width: 33.333333333333333333333333333333333%;
  background: #bf4e30;
}

.line-medium {
  height: 5px;
  width: 33.333333333333333333333333333333333%;
  background: green;
}

.line-hard {
  height: 5px;
  width: 33.333333333333333333333333333333333%;
  background: purple;
}








